<div id="popup-window">
  <h1>SUMMARY</h1>
  <div class="group">
    <h2>First-name: <%= fname %></h2>
    <h2>Last-name: <%= lname %></h2>
    <h2>Email: <%= email %></h2>
    <h2>Phone Number: <%= phone %></h2>
  </div>

  <div class="group">
    <h2>Course of Interest</h2>
    <p><%=result.course%></p>
  </div>

  <div class="group">
    <h2>Course Duration</h2>
    <p><%=result.duration%></p>
  </div>

  <div class="group">
    <h2>Course Fee</h2>
    <p><%=result.amount%></p>
  </div>

  <div class="group">
    <h2>Certification</h2>
    <p><%=result.certification%></p>
  </div>

  <button id="close-button">Close</button>
</div>
